<div class="row contactTitle">
  <div class="col s12 m4">
    <a>
      Contacts
    </a>
  </div>
</div>
<ul class="collection with-header">
  <li class="collection-item">
    <div>
      Streams
      <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
    </div>
  </li>
  <li class="collection-item">
    <div>
      Contacts
      <a href="#!" class="secondary-content"><i class="material-icons">people</i></a>
    </div>
  </li>
  <li class="collection-item">
    <div>
      <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
    </div>
  </li>
  <li class="collection-item">
    <div>
      Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
    </div>
  </li>
</ul>
